<div class="col-md-2">
	<div class="box">
		<div class="box-body" id="calculator">
			<%= render 'calculator_form'%>
		</div>
	</div>
</div>
<div class="col-md-5" id="result">
	<%= render 'result'%>
</div>
<div class="col-md-5" id="graph">
	<%= render 'result_graph'%>
</div>